@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* body {
  Padding bottom by footer height
  padding-bottom: 80px;
} */

/* Background image */
.background {
  background-image: url("../images/skyler-smith-9xdho4stJQ8-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 200px;
  /* width: 3021px; */
  width: 100%
}

.container {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: rgb(79, 99, 126);
  border: whitesmoke;
  color: white;
  border-radius: 25px;
  margin-top: 10px;
}

.btn:hover { 
  background-color: rgb(35, 44, 56);
}

h1 {
  color: rgb(79, 99, 126);
  font-family: "Open Sans", serif;
}

h3 {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 16px;
}

h5 {
  color: black;
  font-family: "Open Sans", serif;
  font-size: 14px;
}

.form {
  text-align: center;
  font-family: "Open Sans", serif;
  /* padding-bottom: 40px; */
}

.form form {
  margin: 40px auto;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

select, input {
  width: 215px;
	margin-bottom: 10px;
	background: rgb(243, 243, 243);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
  margin-bottom: 20px;
}

#form-predict-output {
  color: rgb(66, 66, 66);
  font-family: "Open Sans", serif;
  font-size: 16px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%; 
  height: 8px; /* Set the fixed height of the footer here */
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 10px;
  text-align: left;
}

#footer p {
  margin: 0;
  font-size: 2px;
  font-family: "Open Sans", serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
}

/* .item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
} */

.row {
  margin-bottom: 150px;
}

.description {
  width: 50%;
  margin: 20px auto;
}

.viz {
  font-family: "Open Sans", serif;
  text-align: center;
}

.embed-window {
  width: 60%;
  margin: 20px auto;
}

.tableauPlaceholder {
  margin: 5px auto;
  margin-bottom: 100px;
}

#links-group {
  margin-top: 40px;
  margin-left: 10px;
}

.link {
  margin-bottom: 40px;
}

