<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Delay Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <!-- Local CSS stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="login">
    <h1>Flight Delay Predictor</h1>
       <h3> Enter the following values to predict a delay when flying domestically out of Chicago O'Hare International Airport (ORD)</h3>
  
       <!-- Main Input for Receiving Query to our ML Model -->
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="departure" placeholder="Departure Time" required="required" />
        <input type="text" name="airport" placeholder="Airport Code" required="required" />
        <input type="text" name="month" placeholder="Month" required="required" />
  
        <button type="submit" class="btn">Predict</button>
      </form>
  
     <br>
     <br>
     {{ prediction_text }}
  
   </div>

  <!-- Footer -->
  <div id="footer">
    <p>&copy; 2021 Allison Patnoe, Junette Lee, Kayla Macaione</p>
  </div>

  <!-- Local JS app file -->
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

  <!-- D3 JS-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Bootstrap JS -->
  <!-- <script src="https://stackpsath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  <!-- D3-tip -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
  <!-- Lodash JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <!-- Chart JS -->
  <script src=https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Local JS app file -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  
</body>

</html>
